<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>DOCs API</title>
    
  </head>

  <body>

  <h2>API DOCS WorldCupTeams</h2>
 # GET /world_cup_teams
 

  # GET /world_cup_teams/1
  

  # POST /world_cup_teams
  

  # PATCH/PUT /world_cup_teams/1
  

  # DELETE /world_cup_teams/1

    # Use callbacks to share common setup or constraints between actions.
    

    # Only allow a list of trusted parameters through.

  </body>
</html>